<div id="toolbar">
    <button id="addContact" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> 添加
    </button>
</div>
<table
    id="contactList"
    data-toggle="table"
    data-search="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-id-field="id"
    data-show-footer="false"
    data-url="/api/contacts"
    data-response-handler="responseHandler"
>
</table>

