<div id="confirm" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">确定删除？</div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">删除</button>
              <button type="button" data-dismiss="modal" class="btn">取消</button>
            </div>
        </div>
    </div>
</div>
